<!DOCTYPE html>
<html>
<head>
  <title>LeagueApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="text-center">

<nav class="navbar navbar-default navbar-fixed-top">  
  <div class="container-fluid">
    <div class="navbar-header header-edit">
      <%= link_to "LeagueApp", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-mobile">
      <ul class="nav navbar-nav nav-edit">
        <li class="dropdown drop-mobile"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag "threelines.png", class: "hamburger-menu" %></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "New league", new_league_path %></li>
            <li><%= link_to "Contact", "#" %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-right-edit">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-md-12 navbar-margin"></div>

<div class="wrapper">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<div class="push"></div>

</div>

<footer class="footer">
	<div class="page-header"></div>
	
	<p style="margin-top: 0.5%;">Source at <a href="https://github.com/filiporaczewski/LeagueApp">https://github.com/filiporaczewski/LeagueApp</a></p>
	<p style="margin-top: 0.5%;">Filip Oraczewski 2015</p>
</footer>

</body>
</html>
