<!DOCTYPE html>
<html>
<head>
  <title>LeagueApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="text-center">

<nav class="navbar navbar-default navbar-fixed-top">  
  <div class="container-fluid">
    <div class="navbar-header header-edit">
      <%= link_to "LeagueApp", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-mobile">
      <ul class="nav navbar-nav nav-edit">
        <li class="dropdown drop-mobile">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag "threelines.png", class: "hamburger-menu" %></a>
          <ul class="dropdown-menu toggle-edit" role="menu" aria-labelledby="dLabel">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "New league", new_league_path %></li>
            <li><%= link_to "My leagues", "#" %></li>
            <li class="divider"></li>
              <li><%= link_to "Contact", "#" %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-right-edit">
      	<% if user_signed_in? %>
      		<li class="link-logout">
	      		<%= link_to destroy_user_session_path, { method: :delete, data: { confirm: "Are you sure?" } } do %>
		        	<span class="glyphicon glyphicon-log-out"></span> Log out
		        <% end %>
		    </li>
      	<% else %>
	        <li>
	        	<%= link_to new_user_registration_path do %>
	        		<span class="glyphicon glyphicon-user"></span> Sign Up
	        	<% end %>
	        </li>
	        <li>
	        	<%= link_to new_user_session_path do %>
	        		<span class="glyphicon glyphicon-log-in"></span> Login
	        	<% end %>
	        </li>
		<% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="col-md-12 navbar-margin"></div>

<div class="wrapper">

<% if notice %>
  <div class="messages col-md-4 col-md-offset-4">
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  </div>

<% end %>
<% if alert %>
  <div class="messages col-md-4 col-md-offset-4">
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
  </div>

<% end %>

<%= yield %>

<div class="push"></div>

</div>

<footer class="footer col-md-12">
	<div class="page-header"></div>
	
	<p style="margin-top: 0.5%;">Source at <a href="https://github.com/filiporaczewski/LeagueApp">https://github.com/filiporaczewski/LeagueApp</a></p>
	<p style="margin-top: 0.5%;">Filip Oraczewski 2015</p>
</footer>

</body>
</html>
