<!DOCTYPE html>
<html>
<head>
  <title>LeagueApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="text-center">

<div class="wrapper">

<%= yield %>

<div class="push"></div>

</div>

<footer class="footer">
	<div class="page-header"></div>
	<%= link_to "Home", root_path, class: "btn btn-default", style: "width: 7%;" %>
	<%= link_to 'New league', new_league_path, class: "btn btn-default", style: "width: 7%;" %>
	<p style="margin-top: 0.5%;">Filip Oraczewski 2015</p>
</footer>

</body>
</html>
